
  
header {
    position: relative;
    height: 150px;
    width: 100%;
  
    display: flex;
    align-items: center;
    margin-top: 0%;
    background-color: rgb(29, 27, 27);
    
}
#sidebar{
  display: block;
}

#sidebarToggle{
  display: none;
}
h1{

    padding-left: 5%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
   
    
}
figure{
    margin-left: auto;
    align-content: center;
    text-align: center;
}
figure :hover{
    transform: scale(1.2);
}
.login-icon {
    width: 60px;
    height: 60px;
    margin-left: auto; /* Move the login icon to the right */
    padding-right: 5%;
}
figcaption{
    color: white;
}

.carousel-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 15px;
  position: relative;
  width: 60%; /* Adjust this to control the carousel width */
  max-width: 800px;
  overflow: hidden;
  height: 300px; /* This is for a 4:3 aspect ratio, adjust accordingly */
}

.carousel-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}

.carousel-container img.active {
  opacity: 1;
  display: block;
}



  

  main {
  min-height: 500px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  
  margin: 0px;
  padding-top: 2px;
  position: relative;
  }
  
  .side{
    display: flex;
    padding: 10%;
    padding-top: 7%;
    padding-bottom: 5%;
  }
  .menu {
    border-top: #ccc;
    border-width: 4px;
   
    background-color:  #062F4F;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: large;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
  }
  
  .menu a:not(:last-child)::after {
    
    margin-left: 5px;
    margin-right: 5px;
  }
 
 
  footer{
    height: 200px;
    margin: 0;
    background-color: #333;
 
    justify-content: center;
    text-align: center;
    color: #ccc;
    size: 100%;
  }
  h4{
    margin: 0;
    
  }
 
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  td{
    max-width: 200px;
  }
  .brandimg{
    padding-left: 20px;
    padding-right: 20PX;
    display: flex;
   justify-content: center;
   padding-top: 3%;
   padding-bottom: 5%;
  }
  .brandimg img{
    width: auto;
    height: auto;
    max-width: 200px;
  }
  .brandimg td{
    padding: 20px;
  }
 
  .login-box {
    flex: 1;
    
    background-color: #062F4F;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-right: 30px;
    text-align: center;
    color: #ccc;
  }
  .login-box h2{
    color: #ccc;
  }
  
  h2 {
    margin-top: 0;
    color: black;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  
 .catalog{
  text-align: center;
  margin-top: 30px;
  margin-right:20%;
  margin-left: 20%;
  padding-bottom: 10%;

 }

 .pdf-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
body {
 
  margin: 0;
  padding: 0;
}


.sidebar {
  color: #ccc;
  flex: 0 0 250px;
  background-color: #062F4F;
  height: 550px;
  padding: 10px;
}

.product-list {
  padding-left: 50px;
  padding-right: 50px;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: calc(25.00% - 20px); /* Three products in one row, with margin between */
  max-width: 300px;
  
  margin: 10px;
  text-align: center;
  border: 1px solid #ccc; /* Add a border around the product */
  box-sizing: border-box; /* Include border and padding in the width calculation */
  padding: 10px; /* Add some padding inside the product container */
  display: flex; /* Make the product content flex container */
  flex-direction: column; /* Sta*/
}
.product-content{
  flex: 1; /* Allow the content to take up available space */
  display: flex; /* Make image and text flex items */
  flex-direction: column; /* Stack image and text vertically */
  justify-content: center; /* Center the content vertically */
}

.product img {
  max-width: 80%;
  height: auto;
  max-height: 150px;
  margin-bottom: 10px; /* Add some spacing between the image and text */
}

.search-box {
  padding: 10px;
  padding-right: 20px;
}
.con {
justify-content: center;
align-items: center;
display: flex;
flex-direction: column;
width: auto;

}
.filter-options {
  display: flex;
  flex-direction: column;
  padding-right:30px ;
  padding-left: 30px;
}

.filter-options label {
  display: flex; /* Align content inside the label in a row */
  align-items: center; /* Center the content vertically */
  margin: 0px;/* Add spacing between filter options */
  white-space: nowrap;
  color: white;
}

.filter-options input[type="checkbox"] {
  margin-right: 20px; /* Adjust the space between the text and checkbox */
}

.product h4{
  color: #838181;
}

.pagination {
  position: absolute;
 
  right: 0;
  text-align: right;
  margin-top: 50px;/* Adjust as needed for spacing from other elements */
}

.pagination span {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.pagination span.active {
  background-color: #007bff;
  color: #fff;
}

/* Style for the ellipsis (...) */
.pagination span.ellipsis {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: transparent;
  pointer-events: none;
}

/* Add a hover effect and bold style for the page numbers */
.pagination span:hover {
  transform: scale(1.2);
}

.pagination span.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold; /* Make the current page number bold */
}



form {
 
  width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
   display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}


label {
  display: block;
  margin-top: 10px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.hamburger-menu {
  display: none;
  font-size: medium;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  margin-left:10px ;
}
@media only screen and (max-width: 1100px) {
  .sidebar {
    width: auto; /* Adjust width */
    padding: 5px; /* Reduce padding */
    /* Consider repositioning or altering layout */
  }
  .side{
    margin-top: 25px;
  }

  .product-list {
    padding-left: 1px;
    padding-right: 1px;
  }
  .product {
    width: calc(33.33% - 20px); /* Three products per row */
    padding: 1px;
    
  }
  .product h3 {
    font-size: 16px;
}
  .carousel-container {
    height: 220px; /* Adjust carousel height */
    
  }
 

  .brandimg{
    padding-left: 20px;
    padding-right: 20PX;
    display: flex;
   justify-content: center;
   padding-top: 3%;
   padding-bottom: 5%;
  }
  .brandimg img{
  
    height: auto;
    max-width: 150px;
  }
  .brandimg td{
    padding: 20px;
  }
  /* Other necessary adjustments */
}

@media only screen and (max-width: 768px) {


  .carousel-container {
    height: 200px; /* Adjust carousel height */
    
  }
  .sidebar {
    flex: 0 0 100px;
    width: auto; /* Adjust width */
    padding: 5px; /* Reduce padding */
    /* Consider repositioning or altering layout */
  }
  .side{
    margin-top: 25px;
  }

  .product-list {
    padding-left: 1px;
    padding-right: 1px;
  }
  .product {
    width: calc(33.33% - 20px); /* Three products per row */
    padding: 1px;
    
  }
  .product h3 {
    font-size: 16px;
}
  
  .pagination{
    margin-top:25px;
  }
  .brandimg img{
  
    height: auto;
    max-width: 140px;
  }
  /* Further adjustments */
}

@media only screen and (max-width: 700px) {
  .carousel-container {
    height: 180px; /* Adjust carousel height */
    width: 75%;
  }
  .catalog{
    margin-left: 12.5%;
    margin-right: 12.5%;
   
  }
  .sidebar {
    flex: 0 0 100px;
    /* Adjust width */
    padding: 5px; /* Reduce padding */
    /* Consider repositioning or altering layout */
  }
  .side{
    display: flex;
    margin-top: 25px;
  }

  .product-list {
    
    padding-left: 1px;
    padding-right: 1px;
  }
  .product {
    width: calc(50% - 20px); /* Two products per row */
    
  }
  .pagination{
    margin-top:25px;
  }
  
  .product h3 {
    font-size: 16px;
}
.brandimg img{
  
  height: auto;
  max-width: 100px;
}
.menu {
  font-size: medium;
}

}
@media only screen and (max-width: 550px) {
  #sidebarToggle {
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #062F4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .menu a {
    display: none;
    margin: 4px;
    padding: 0px;
  }
  .pagination {
    
   
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center (if needed) */
    /* Remove absolute positioning if it's set in your default styles */
  }

  .pagination span {
    padding: 3px 5px; /* Optional: Smaller padding for smaller screens */
 margin: 0px; /* Optional: Smaller margin for smaller screens */
    font-size: 12px; /* Optional: Smaller font size for smaller screens */
   
  }
 

  .hamburger-menu {
    display: block;
  }

  #sidebar {
    display: none;
    /* Rest of your sidebar style<script src="script.js"></script>s */
  }
  .side{
    flex-direction: column;
    
  }
  .brandimg{
    padding-left: 0px;
    padding-right: 0PX;
    display: flex;
   justify-content: center;
   padding-top: 3%;
   padding-bottom: 5%;
  }
  .brandimg img{
  
    height: auto;
    width: 60px;
  }
  .brandimg td{
    padding: 5px;
    padding-bottom: 15px;
  }

  .carousel-container {
    height: 140px; /* Adjust carousel height */
    width: 90%;
  }
  .catalog{
    margin-left: 5%;
    margin-right: 5%;
  }
  form{
    width: 280px;
  }
  header{
    height: 120px;
  }
}


